<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Swain</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>reddit comments</string>
	<key>CFBundleIdentifier</key>
	<string>com.macosxtips.redditcomments</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleVersion</key>
	<string>1.5.1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>redditContext</string>
				<key>Identifier</key>
				<string>redditContext</string>
				<key>Title</key>
				<string>Reddit Comments</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>redditToolbar</string>
				<key>Identifier</key>
				<string>redditToolbar</string>
				<key>Image</key>
				<string>comments.png</string>
				<key>Label</key>
				<string>reddit</string>
				<key>Palette Label</key>
				<string>reddit</string>
				<key>Tool Tip</key>
				<string>Go to the reddit comments for this page</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>reddit.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Takes you to the reddit comments for the current page. If it doesn't exist, it starts the submission process.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.macosxtips.co.uk/extensions/redditcomments.plist</string>
	<key>Website</key>
	<string>http://www.macosxtips.co.uk/extensions</string>
</dict>
</plist>
